includes:
	#- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	ignoreErrors:
		- '#^Property Contributte\\Application\\Response\\Fly\\Buffer\\(FileBuffer|ProcessBuffer)\:\:\$pointer \(resource\) does not accept resource\|false\.$#'
		- '#^Property Contributte\\Application\\Response\\Fly\\Buffer\\(.*)Buffer\:\:\$pointer \(resource\) in isset\(\) is not nullable\.$#'
